<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>통계</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);
        google.charts.setOnLoadCallback(drawChart3);
        google.charts.setOnLoadCallback(drawChart4);


        function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', '인원');
        data.addRows([
             {% for one in all %}
                 ['{{ one.1 }}', {{ one.3 }}],
             {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'사람들이 많이 본 여행지 TOP5',
                       'width':800,
                       'height':700};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

       function drawChart2() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', '인원');
        data.addRows([
             {% for one in all %}
                 ['{{ one.1 }}', {{ one.3 }}],
             {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'사람들이 많이 본 여행지 TOP5',
                       'width':800,
                       'height':700};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }

      function drawChart3() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', '인원');
        data.addRows([
             {% for one in all2 %}
                 ['{{ one.1 }}', {{ one.4 }}],
             {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'추천수 기준 여행지 TOP5',
                       'width':800,
                       'height':700};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div3'));
        chart.draw(data, options);
      }

      function drawChart4() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', '인원');
        data.addRows([
             {% for one in all2 %}
                 ['{{ one.1 }}', {{ one.4 }}],
             {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'추천수 기준 여행지 TOP5',
                       'width':800,
                       'height':700};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div4'));
        chart.draw(data, options);
      }

    </script>

    </script>




</head>
<body>
<h1>조회수 기준</h1>
<div id="chart_div2"></div>
<div id="chart_div"></div>
<h1>추천수 기준</h1>
<div id="chart_div3"></div>
<div id="chart_div4"></div>



</body>
</html>