<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
       <body bgcolor=yellow>
       <h3>장고 프로젝트1</h3><hr color=red>
       -<a href=member/>member start page로</a><br>
       -<a href=bbs/>bbs start page로</a><br>
       -<a href=member/index1>index1 page로</a><br>
       -<a href=member/index2>index2 page로</a><br>
       -<a href=member/index3>index3 page로</a><br>
       -<a href=admin/>admin page로</a><br>
       -<a href=http://www.naver.com>naver로</a><br>
       -<a href=http://www.daum.net>daum로</a><br>
       </body>
</html>