<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            text-align: center;
        }
        td {
            text-align: center;
        }

        .c1 {
            background: lightcoral;
            width: 150px;
        }
        button {
            background: limegreen;
        }
    </style>
</head>
<body>
<h3>회원가입 결과</h3>
<table border="1">
    <tr>
        <td class="c1" colspan="2" height="200">
            회원가입 처리가 잘 되었습니다.<br>
        </td>
    </tr>
        <tr>
        <td class="c1">회원정보페이지로</td>
        <td width="200">
            <a href="/member">
                <button>회원정보페이지로</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>